@import "../../mixins";

#offers {
    margin-top: 10rem;

    h2 {
        font-size: 4rem;
        &:before {
            content: unset;
        }
    }
}

.header-wrapper {
    padding: 2rem;
    background-color: #6a6ac4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 5rem;

    @include bp-mobile {
        flex-direction: column;
    }
    h3 {
        margin: unset;

        @include bp-mobile {
            text-align: center;
        }
    }

    .btnv-1 {
        padding: 0.7rem 1.5rem;
        @include bp-mobile {
            margin-top: 0.5rem;
        }
    }
}

.heading{
    text-align: left;
    background-color: #F5F5F5;
    border-radius: 20px;
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 0.001rem;
        padding-left: 2rem;
    }
    
    .user-info{
        display: flex;
        margin-top: 2rem;
        margin-left: 7rem;
        margin-right: 5rem;
    }
    
    .info{
        margin-right: 15rem;
        margin-left: 2rem;
    }
    
    .bill{
    display: flex;
    color: blue;
    }
    .push {
        margin-left: auto;
        margin-right: 2rem;
    }
